<!DOCTYPE html>
<html lang="lt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale=1">
        <title>{% block title %}Flask aplikacijos title, galbut pamirsai sukurti man title ?{% endblock %}</title>
       <!-- CSS failas iš static katalogo  -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/stilius.css') }}">
    </head>
<body>
    <header>
        <h1>
            <a href="{{ url_for('index') }}">Mano flask aplikacija</a>
        </h1>


        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Pagrindinis</a></li>
                <li><a href="{{ url_for('kontaktai') }}">Kontaktai</a></li>
                <li><a href="{{ url_for('apie') }}">Apie mus</a></li>
                <li><a href="{{ url_for('komentarai') }}">Komentarai</a></li>
        
                <!-- NAUJAS MENIU -->
                <li class="dropdown">
                    <a href="#">Paslaugos</a>
                    <ul class="submenu">
                        <li><a href="{{ url_for('paslaugos') }}">Visos paslaugos</a></li>
                        <li><a href="{{ url_for('ivesti_paslauga') }}">Įvesti paslaugą</a></li>
                    </ul>
                </li>
        
                <li><a href="{{ url_for('db_testas') }}">MySQL testas</a></li>
        
                {% if session.vartotojo_id %}
                    <li class="profilio-meniu">
                        <a href="{{ url_for('profilis') }}">
                            {% if session.avataro_nuoroda %}
                                <img src="{{ session.avataro_nuoroda }}" class="mini-avataras">
                            {% endif %}
                            Profilis ({{ session.vartotojo_vardas }})
                        </a>
                    </li>
                    <li><a href="{{ url_for('atsijungti') }}">Atsijungti</a></li>
                {% else %}
                    <li><a href="{{ url_for('registracija') }}">Registracija</a></li>
                    <li><a href="{{ url_for('prisijungimas') }}">Prisijungti</a></li>
                {% endif %}
            </ul>
        </nav>

    </header>

    <div class="container">
        {% block turinys %}{% endblock %}
    </div>

</body>



</html>